### Đã xử lý được trường hợp ko bắt đầu bằng từ khóa

In [25]:
from docx import Document
import re

def contains_exact_keyword(text, keyword):
    # Sử dụng regex để tìm từ khóa đứng riêng biệt và chính xác về chữ hoa/thường
    pattern = r'\b' + re.escape(keyword) + r'\b'
    return bool(re.search(pattern, text))

def remove_comments(text):
    # Loại bỏ phần comment bắt đầu bằng '--' hoặc '---'
    return re.split(r'--|//', text)[0].strip()
    
def remove_text_before_keyword(text, keyword):
    # Sử dụng regex để tách chuỗi tại từ khóa và chỉ giữ lại phần sau từ khóa
    parts = re.split(r'(?i)\b' + re.escape(keyword) + r'\b', text)
    if len(parts) > 1:
        return keyword + parts[-1].strip()  # Thêm lại từ khóa vào phần sau
    return text  # Nếu từ khóa không có trong text thì trả về text gốc

def format_sql(text):
    # Thêm dấu cách giữa từ khóa SQL và phần tiếp theo nếu cần
    keywords_with_space = ['WITH', 'SELECT', 'UPDATE', 'CASE WHEN', 'CASE', 'WHERE', 'UNION ALL', 'JOIN']
    for keyword in keywords_with_space:
        text = re.sub(rf'\b{keyword}\s*', f'{keyword} ', text, flags=re.IGNORECASE)
    return text

def extract_sql_code(docx_file):
    doc = Document(docx_file)
    sql_code_blocks = []
    current_block = []
    
    # Danh sách các từ khóa SQL để nhận diện bắt đầu đoạn SQL
    sql_keywords = ('WITH', 'SELECT', 'UPDATE', 'CASE WHEN', 'CASE', 'WHERE', 'UNION ALL', 'JOIN')
    sql_dml_keywords = ('SELECT', 'UPDATE', 'INSERT', 'DELETE')
    
    paragraphs = doc.paragraphs

    for i, para in enumerate(paragraphs):
        text = para.text.strip()
        text = remove_comments(text)  # Loại bỏ phần comment nếu có
        
        # Nếu đoạn văn trống, kết thúc khối SQL hiện tại nếu cần
        if not text or para.style.name.startswith('Heading'):
            # Kiểm tra nếu đoạn trước là từ khóa và đoạn tiếp theo cũng trống thì không kết thúc
            if current_block and not any(kw in current_block[-1].upper() for kw in sql_keywords):
                sql_code_blocks.append("\n".join(current_block))
                current_block = []
            continue
        
        # Kiểm tra nếu đoạn văn bắt đầu bằng từ khóa SQL in hoa hoàn toàn
        # if any(text.startswith(kw) for kw in sql_keywords) and text == text.upper():
        #     current_block.append(text)
        
        if any(contains_exact_keyword(text, kw) for kw in sql_dml_keywords):
            # Nếu text chứa từ khóa SQL, xóa phần đứng trước từ khóa
            for keyword in sql_dml_keywords:
                if contains_exact_keyword(text, keyword):
                    text = remove_text_before_keyword(text, keyword)
                    text = format_sql(text)
                    break
            current_block.append(text)
        
        # Tiếp tục thêm vào block hiện tại nếu đang trong khối SQL
        elif current_block:
            current_block.append(text)

        # Nếu đoạn văn kết thúc bằng dấu chấm phẩy, thì xem như khối SQL đã hoàn tất
        if text.endswith(';'):
        #if ';' in text:
            sql_code_blocks.append("\n".join(current_block))
            current_block = []
            continue
                
    # Trường hợp cuối cùng còn block chưa kết thúc
    if current_block:
        sql_code_blocks.append("\n".join(current_block))

    return sql_code_blocks

# Đọc file Word và trích xuất SQL code
sql_codes = extract_sql_code('JOB nghiệp vụ 2.11.docx')
for i, sql in enumerate(sql_codes):
    print(f"Query {i}:\n")
    print(sql)
    print("\n" + "="*80 + "\n")

Query 0:

SELECT dữ liệu từ bảng TBL_SLIP_MARK bảng group by theo INPUTTER, DEPARTMENT_CODE, COMPANY_ACCOUNTING, CO_CODE, DATE_TIME ( Các trường này đóng vai trò là KEY dữ liệu ).
INSERTnhững dữ liệu mới

================================================================================

Query 1:

SELECT dữ liệu từ bảng TBL_SLIP_MARK_TRANS_NON_ACC bảng group by theo INPUTTER, VALUE_DATE ( lấy theo Date ko lấy Time) , CO_CODE, BUSINESS, DEPARTMENT_CODE, COMPANY_USER ( Các trường này đóng vai trò là KEY dữ liệu ).
INSERTnhững dữ liệu mới

================================================================================

Query 2:

SELECT
sm.MARK_USER mark_user,
sm.COMPANY_ACCOUNTING co_code,
AD_UNIT.UNIT_NAME unit_name,
TO_CHAR( sm.MARK_DATE, 'DD-MM-YYYY' ) mark_date,
1 number_slip
FROM
TBL_SLIP_MARK sm
JOIN AD_UNIT ON sm.COMPANY_ACCOUNTING = AD_UNIT.UNIT_CODE
WHERE
TRUNC( sm.MARK_DATE ) = TRUNC( SYSDATE - INTERVAL '1' DAY )
AND sm.MARK_USER IS NOT NULL
AND sm.SLIP_FROM = 'BI'
),
slipMarkNonAccData AS (
SELECT
sm.MARK_USER mark_user,
sm.CO_CODE co_code,
AD_UNIT.UNIT_NAME unit_name,
TO_CHAR( sm.MARK_DATE, 'DD-MM-YYYY' ) mark_date,
1 number_slip
FROM
STG_SEAOPS.TBL_SLIP_MARK_TRANS_NON_ACC sm
JOIN AD_UNIT ON sm.CO_CODE = AD_UNIT.UNIT_CODE
WHERE
TRUNC( sm.MARK_DATE ) = TRUNC( SYSDATE - INTERVAL '1' DAY )
AND sm.MARK_USER IS NOT NULL
),
slipMarkNonTransRefData AS (
SELECT
sm.MARK_USER mark_user,
sm.CO_CODE co_code,
AD_UNIT.UNIT_NAME unit_name,
TO_CHAR( sm.CREATED_DATE, 'DD-MM-YYYY' ) mark_date,
sm.TOTAL number_slip
FROM
TBL_SLIP_MARK_NON_TRANS_REF sm
JOIN AD_UNIT ON sm.CO_CODE = AD_UNIT.UNIT_CODE
WHERE
TRUNC( sm.CREATED_DATE ) = TRUNC( SYSDATE - INTERVAL '1' DAY )
AND sm.MARK_USER IS NOT NULL
),
SELECT * FROM slipMarkNonTransRefData ),
group_datas AS (
SELECT
mark_user,
co_code AS unit_code,
unit_name,
mark_date,
sum( number_slip ) total_trans_ref
FROM
union_datas ud
GROUP BY
mark_user,
co_code,
mark_date,
unit_name
ORDER BY
mark_user
SELECT
( gds.mark_user || unit_code || mark_date ) AS COMPOSE_KEY,
gds.*
FROM
group_datas gds

================================================================================

Query 3:

SELECT
*
FROM
TBL_PERIOD_EVALUATION pe
JOIN TBL_CONTRACT_CONDITION cc ON cc.id = pe.CONTRACT_CONDITION_ID
WHERE pe.EVALUATION_DATE IS NOT NULL
AND pe.AUTO_EVALUATION_RESULT IS NULL
AND pe.GROUP_CONTRACT_CONDITION = 'CREDIT_RELATION'
AND  cc.STATUS = 'APPROVED'
AND ( (pe.REGISTER_DATE IS NOT NULL AND TRUNC(pe.REGISTER_DATE) < TRUNC (sysdate)) OR (pe.REGISTER_DATE IS NULL AND TRUNC(pe.EVALUATION_DATE) < TRUNC (sysdate)) );

================================================================================

Query 4:

SELECT
*
FROM
TBL_PERIOD_EVALUATION pe
JOIN TBL_PERIOD_EVALUATION pe1 ON pe.CONTRACT_CONDITION_ID = pe1.CONTRACT_CONDITION_ID AND pe.PERIOD - 1 = pe1.PERIOD
WHERE AND pe.FREQUENCY = 1 AND pe.FREQUENCY_UNIT = 'M' AND pe.CONTRACT_CONDITION_ID = :contractConditionId;

================================================================================

Query 5:

SELECT *  TBL_CONDITION_CREDIT_RELATION cr WHERE cr.CONDITION_ID = :contractConditionId;

================================================================================

Query 6:

SELECT
*
FROM
TBL_PERIOD_EVALUATION pe
JOIN TBL_CONTRACT_CONDITION cc ON cc.ID = pe.CONTRACT_CONDITION_ID
WHERE
pe.EVALUATION_DATE IS NOT NULL
AND pe.AUTO_EVALUATION_RESULT IS NULL
AND pe.GROUP_CONTRACT_CONDITION = 'REVENUE'
AND cc.STATUS = 'APPROVED'
AND (
( pe.REGISTER_DATE IS NOT NULL AND TRUNC( pe.REGISTER_DATE ) < TRUNC( sysdate ) )
OR ( pe.REGISTER_DATE IS NULL AND TRUNC( pe.EVALUATION_DATE ) < TRUNC( sysdate ) )
);

================================================================================

Query 7:

SELECT
SUM( DISTINCT LOC_AMT )
FROM
STG_SEAOPS.TBL_BI_DISBURSEMENT_SALES
WHERE
CONTRACT_REF =: contract_ref
AND TRANS_TYPE IN ( '08', '09', '12' )
AND ( TO_DATE( VALUE_DATE, 'DD-MM-YYYY' ) BETWEEN : from_date AND : to_date )
GROUP BY
CONTRACT,
DAYID,
TRANS_TYPE;

================================================================================

Query 8:

SELECT
SUM( DISTINCT LOC_AMT )
FROM
STG_SEAOPS.TBL_BI_DISBURSEMENT_SALES
WHERE
CONTRACT_REF =: contract_ref
AND TRANS_TYPE IN ( '01', '02', '03' )
AND ( TO_DATE( VALUE_DATE, 'DD-MM-YYYY' ) BETWEEN : from_date AND : to_date )
GROUP BY
CONTRACT,
DAYID,
TRANS_TYPE;

================================================================================

Query 9:

SELECT
SUM( LC_AMOUNT_LCY )
FROM
TBL_BI_LC_RELEASE_SALES
WHERE
( TO_DATE( ISSUE_DATE, 'DD-MM-YYYY' ) BETWEEN : from_date AND : to_date )
AND CUSTOMER = : customerId
GROUP BY
CUSTOMER;

================================================================================

Query 10:

SELECT
SUM( AMOUNT )
FROM
TBL_BI_GUARANTEE_SALES
WHERE
( TO_DATE( PAST_SCHED_DATE, 'DD-MM-YYYY' ) BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId
GROUP BY
CUSTOMER_ID;

================================================================================

Query 11:

SELECT
SUM( AMOUNT )
FROM
TBL_BI_GUARANTEE_SALES
WHERE
( TO_DATE( PAST_SCHED_DATE, 'DD-MM-YYYY' ) BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId  AND CATEGORY = '28030'
GROUP BY
CUSTOMER_ID;

================================================================================

Query 12:

SELECT
SUM( AMOUNT )
FROM
TBL_BI_GUARANTEE_SALES
WHERE
( TO_DATE( PAST_SCHED_DATE, 'DD-MM-YYYY' ) BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId   AND CATEGORY = '28010'
GROUP BY
CUSTOMER_ID;

================================================================================

Query 13:

SELECT
SUM( AMOUNT )
FROM
TBL_BI_GUARANTEE_SALES
WHERE
( TO_DATE( PAST_SCHED_DATE, 'DD-MM-YYYY' ) BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId   AND CATEGORY = '28009'
GROUP BY
CUSTOMER_ID;

================================================================================

Query 14:

SELECT
SUM( AMOUNT )
FROM
TBL_BI_GUARANTEE_SALES
WHERE
( TO_DATE( PAST_SCHED_DATE, 'DD-MM-YYYY' ) BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId  AND CATEGORY = '28040'
GROUP BY
CUSTOMER_ID;

================================================================================

Query 15:

SELECT
SUM( AMOUNT )
FROM
TBL_BI_GUARANTEE_SALES
WHERE
( TO_DATE( PAST_SCHED_DATE, 'DD-MM-YYYY' ) BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId AND CATEGORY = '28042'
GROUP BY
CUSTOMER_ID;

================================================================================

Query 16:

SELECT
SUM( CAST( DEBT AS DECIMAL ) )
FROM
TBL_BI_CONTRACT_DEBT
WHERE
DAYID = : to_date
AND CUSTOMER_ID = : customerId
GROUP BY
CUSTOMER_ID;

================================================================================

Query 17:

SELECT
SUM( DISTINCT CAST( AMOUNT_LCY AS DECIMAL ) )
FROM
TBL_BI_CREDIT_SALES
WHERE
( DAYID BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId
GROUP BY
CUSTOMER_ID,OUT_REFERENCE;

================================================================================

Query 18:

SELECT
SUM( DISTINCT CAST( AMOUNT_LCY AS DECIMAL ) )
FROM
TBL_BI_CREDIT_SALES
WHERE
( DAYID BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId  AND OUT_REFERENCE like 'FT%'
GROUP BY
CUSTOMER_ID,OUT_REFERENCE;

================================================================================

Query 19:

SELECT
SUM( DISTINCT CAST( AMOUNT_LCY AS DECIMAL ) )
FROM
TBL_BI_CREDIT_SALES
WHERE
( DAYID BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId  AND OUT_REFERENCE like 'TT%'
GROUP BY
CUSTOMER_ID,OUT_REFERENCE;

================================================================================

Query 20:

SELECT
SUM( DISTINCT CAST( AMOUNT_LCY AS DECIMAL ) )
FROM
TBL_BI_CREDIT_SALES
WHERE
( DAYID BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId  AND OUT_REFERENCE like 'TF%'
GROUP BY
CUSTOMER_ID,OUT_REFERENCE;

================================================================================

Query 21:

SELECT
SUM( BALANCE )
FROM
TBL_BI_DISBURSEMENT_HISTORY
WHERE
CONTRACT_REF = : contractId
GROUP BY
CONTRACT_REF;

================================================================================

Query 22:

SELECT
TOI_VALUE
FROM
TBL_CONFIG_INPUT_TOI
WHERE
CONTRACT_ID = : contractId
AND CUSTOMER_ID = : customerId
AND PERIOD = : period;

================================================================================

Query 23:

SELECT
ID,
AUTO_PERIOD,
BUSINESS_UNIT_NOTE,
CONTENT,
CONTRACT_ID,
CONTROL_METHOD,
CREATED_DATE,
CREATED_USER,
DESCRIPTION,
DOCUMENT_NAME,
FIRST_DATE_CHOSEN_PERIOD,
FREQUENCY,
FREQUENCY_UNIT,
NEW_CUSTOMER,
RULE_MATCH,
RULE_NUMBER,
SANCTION,
SANCTION_TYPE,
STATUS,
TOI,
TOI_MATCH,
TOI_VALUE,
TYPE_PERIOD_RATE,
UPDATED_DATE,
UPDATED_USER,
START_PERIOD,
GROUP_CONTRACT_CONDITION,
REASON,
MIN_APPROVAL_VALUE,
IS_MIN_APPROVAL_VALUE,
LOAN_PRODUCT_ID,
CUSTOMER_ID,
CLONE_ID,
AUTO_EVALUATION_RESULT,
CUSTOMER_CLASS,
CO_CODE,
COMPANY_NAME_VN,
VERSION_CONFIG_ID,
ORIGIN_ID
FROM
TBL_REVENUE_CONDITION
WHERE
ID = : contractConditionId;

================================================================================

Query 24:

SELECT
ID,
ADVANCE,
APPROVAL_RATE,
CONTRACT,
CREATED_DATE,
CREATED_USER,
CREDIT_REVENUE,
DEBT_REVENUE,
DISBURMENT_REVENUE,
FT_ENTRY,
GUARANTEE_REVENUE,
LC_REVENUE,
LOAN,
MONEY_ON_DOCUMENT,
ORIGINAL_INTEREST_REVENUE,
OTHER_NUMBER,
PAYMENT,
RECIPROCAL,
REVENUE_CONDITION_ID,
RULE_NUMBER,
TF_ENTRY,
TT_ENTRY,
UPDATED_DATE,
UPDATED_USER,
DISBURSEMENT_MONEY,
DOCUMENT_ADDITIONAL,
AUTO_EVALUATION_RESULT,
VERSION_CONFIG_ID
FROM
TBL_REVENUE_CONFIGURATION
WHERE
REVENUE_CONDITION_ID = : contractConditionId;

================================================================================

Query 25:

SELECT
ID,
ADVANCE,
APPROVAL_RATE,
CONTRACT,
CREATED_DATE,
CREATED_USER,
CREDIT_REVENUE,
DEBT_REVENUE,
DISBURMENT_REVENUE,
FT_ENTRY,
GUARANTEE_REVENUE,
LC_REVENUE,
LOAN,
MONEY_ON_DOCUMENT,
ORIGINAL_INTEREST_REVENUE,
OTHER_NUMBER,
PAYMENT,
RECIPROCAL,
REVENUE_CONDITION_ID,
RULE_NUMBER,
TF_ENTRY,
TT_ENTRY,
UPDATED_DATE,
UPDATED_USER,
DISBURSEMENT_MONEY,
DOCUMENT_ADDITIONAL,
AUTO_EVALUATION_RESULT,
VERSION_CONFIG_ID
FROM
TBL_REVENUE_CONFIGURATION
WHERE
REVENUE_CONDITION_ID = : contractConditionId;

================================================================================

Query 26:

SELECT
TBL_REVENUE_PERIOD_RATE.PERIOD,
TBL_REVENUE_PERIOD_RATE.RATE,
TBL_REVENUE_PERIOD_RATE.TYPE
FROM
TBL_REVENUE_PERIOD_RATE
WHERE
( PERIOD =: period AND TYPE =: typePeriodRate )

================================================================================

Query 27:

SELECT
TBL_REVENUE_PERIOD_RATE.PERIOD,
TBL_REVENUE_PERIOD_RATE.RATE,
TBL_REVENUE_PERIOD_RATE.TYPE
FROM
TBL_REVENUE_PERIOD_RATE
JOIN max_period ON max_period.PERIOD = TBL_REVENUE_PERIOD_RATE.PERIOD
AND max_period.TYPE = TBL_REVENUE_PERIOD_RATE.TYPE
WHERE
TBL_REVENUE_PERIOD_RATE.TYPE =: typePeriodRate;

================================================================================

Query 28:

SELECT CONTRACT_AMT FROM TBL_BI_CONTRACT_REF_DEFINE WHERE CONTRACT_ID = :contractId
Sau khi xử lý ta lấy được dữ liệu sau :

================================================================================

Query 29:

UPDATE TBL_PERIOD_EVALUATION
SET auto_evaluation_result =
CASE
WHEN evaluation_result IS NULL THEN
'NOT_FOLLOW' ELSE 'FOLLOW'
END,
evaluation_result =
CASE
WHEN evaluation_result IS NULL THEN
'NOT_FOLLOW' ELSE evaluation_result
END;

================================================================================

Query 30:

UPDATE TBL_PERIOD_EVALUATION
SET auto_evaluation_result =
:autoEvaluationResult,
evaluation_result =
CASE
WHEN evaluation_result IS NULL THEN
:autoEvaluationResult  ELSE evaluation_result
END;

================================================================================

Query 31:

UPDATE tbl_revenue_condition
SET auto_evaluation_result =
: autoEvaluationResult;

================================================================================

Query 32:

SELECT
*
FROM
TBL_PERIOD_EVALUATION pe
LEFT JOIN TBL_CONTRACT_CONDITION cc ON cc.id = pe.CONTRACT_CONDITION_ID
LEFT JOIN TBL_LOAN_PRODUCT_CONDITION lc ON lc.id = pe.CONTRACT_CONDITION_ID
WHERE
pe.EVALUATION_DATE IS NOT NULL
AND ( pe.AUTO_EVALUATION_RESULT IS NULL OR ( pe.AUTO_EVALUATION_RESULT = 'FOLLOW' AND pe.GROUP_CONTRACT_CONDITION = 'SECUR_PROP_INSURANCE' ) )
AND pe.EVALUATION_RESULT IS NULL
AND pe.GROUP_CONTRACT_CONDITION NOT IN ( 'CROSS_SELLING', 'CREDIT_RELATION', 'REVENUE' ) ( pe.STATUS IS NULL OR pe.STATUS <> 'APPROVED' )
AND (
pe.CONTRACT_CONDITION_ID IS NULL
OR ( pe.GROUP_CONTRACT_CONDITION <> 'LOAN_PRODUCT_CONDITION' AND cc.STATUS = 'APPROVED' )
OR ( pe.GROUP_CONTRACT_CONDITION = 'LOAN_PRODUCT_CONDITION' AND lc.STATUS = 'ACTIVE' )
)
AND (
( pe.REGISTER_DATE IS NOT NULL AND TRUNC( pe.REGISTER_DATE ) < TRUNC( SYSDATE ) )
OR ( pe.REGISTER_DATE IS NULL AND TRUNC( pe.EVALUATION_DATE ) < TRUNC( SYSDATE ) )
);

================================================================================

Query 33:

UPDATE TBL_PERIOD_EVALUATION
SET AUTO_EVALUATION_RESULT = 'NOT_FOLLOW',
EVALUATION_RESULT= 'NOT_FOLLOW',
report_note =
CASE
WHEN 'STOP_CHECK_REPORT' = report_batch_id THEN
report_note ELSE NULL
END,
report_batch_id =
CASE
WHEN report_batch_id IS NOT NULL
AND 'STOP_CHECK_REPORT' <> report_batch_id THEN
'RE_CHECK'
WHEN 'STOP_CHECK_REPORT' = report_batch_id THEN
report_batch_id ELSE NULL END;

================================================================================

Query 34:

UPDATE TBL_PERIOD_EVALUATION
SET AUTO_EVALUATION_RESULT = 'NOT_FOLLOW',
EVALUATION_RESULT= 'NOT_FOLLOW';

================================================================================

Query 35:

SELECT
*
FROM
TBL_PERIOD_EVALUATION pe
JOIN TBL_CONTRACT_CONDITION cc ON cc.id = pe.CONTRACT_CONDITION_ID
WHERE
pe.EVALUATION_DATE IS NOT NULL
AND pe.AUTO_EVALUATION_RESULT IS NULL OR pe.AUTO_EVALUATION_RESULT = 'NOT_ENOUGH_EVALUATION_DATA'
AND pe.GROUP_CONTRACT_CONDITION = 'CROSS_SELLING'
AND ( pe.STATUS IS NULL OR.STATUS = 'APPROVED' )
AND (
( pe.REGISTER_DATE IS NOT NULL AND TRUNC( pe.REGISTER_DATE ) < TRUNC( SYSDATE ) )
OR ( pe.REGISTER_DATE IS NULL AND TRUNC( pe.EVALUATION_DATE ) < TRUNC( SYSDATE ) )
);

================================================================================

Query 36:

SELECT * FROM TBL_CROSS_SELLING WHERE CONDITION_ID = :conditionId;

================================================================================

Query 37:

UPDATE TBL_PERIOD_EVALUATION SET AUTO_EVALUATION_RESULT = 'NOT_ENOUGH_EVALUATION_DATA' WHERE id = :id;

================================================================================

Query 38:

UPDATE TBL_PERIOD_EVALUATION
SET auto_evaluation_result =
:autoEvaluationResult,
evaluation_result =
CASE
WHEN evaluation_result IS NULL THEN
:autoEvaluationResult  ELSE evaluation_result
END;

================================================================================

Query 39:

SELECT
*
FROM
TBL_PERIOD_EVALUATION
WHERE
PERIOD <> 0
AND GROUP_CONTRACT_CONDITION NOT IN ( 'REVALUE_COLLATERAL', 'SECUR_PROP_INSURANCE' )
AND ( CONTRACT_STATUS IS NULL OR CONTRACT_STATUS NOT IN ( 'OVERDUE_1', 'OVERDUE_2' ) )
AND ( CONTRACT_CONDITION_STATUS IS NULL OR CONTRACT_CONDITION_STATUS <> 'STOP_FOLLOW' )
AND LOCKED_KEY IS NULL
AND CREATE_NEXT_PERIOD_STATUS IN ( 'NEW', 'RENEW' )
AND ( FORCE_CREATE_NEXT = 1 OR CAST( EVALUATION_DATE AS DATE ) < CAST( SYSDATE ) );

================================================================================

Query 40:

UPDATE bản ghi hiện tại : Không thực hiện sinh kỳ mới
+ Nếu FREQUENCY <> 0 AND EVALUATION_RESULT = FOLLOW  thực hiện insert thêm 1 bản ghi kỳ mới theo quy tắc

================================================================================

Query 41:



================================================================================

Query 42:

UPDATE bản ghi hiện tại : Không thực hiện sinh kỳ mới
+ Nếu FREQUENCY <> 0 thực hiện insert thêm 1 bản ghi kỳ mới theo quy tắc

================================================================================

Query 43:

SELECT * FROM TBL_PERIODIC_TEST_FREQUENCY WHERE CUSTOMER_TYPE = NVL(SUBSTR(PERIODIC_TYPE, 0, INSTR(PERIODIC_TYPE, '#')-1), PERIODIC_TYPE)= CUSTOMER_TYPE;

================================================================================

Query 44:

SELECT * FROM TBL_LOAN_PRODUCT_CONDITION WHERE CODE = LOAN_PRODUCT_CODE ( LOAN_PRODUCT_CODE lấy từ dữ liệu gốc)
+ Nếu  AUTO_PERIOD = 1 OR BUSINESS_UNIT_NOTE = 1 OR  loanCondition IS NULL  update lại bản ghi gốc với dữ liệu sau :
SET CREATE_NEXT_PERIOD_STATUS = RENEW

================================================================================

Query 45:

UPDATE lại bản ghi gốc với dữ liệu sau :
SET CREATE_NEXT_PERIOD_STATUS = SUCCESS.

================================================================================

Query 46:



================================================================================

Query 47:

UPDATE lại bản ghi gốc với dữ liệu sau :
SET CREATE_NEXT_PERIOD_STATUS = SUCCESS.

================================================================================

Query 48:

UPDATE TBL_PERIOD_EVALUATION
SET STATUS = 'STOP_FOLLOW',
REPORT_NOTE = 'Ngừng theo dõi TSBD'
WHERE
GROUP_CONTRACT_CONDITION IN ( 'REVALUE_COLLATERAL', 'SECUR_PROP_INSURANCE' )
SELECT DISTINCT COLLATERAL_ID FROM TBL_BI_COLLATERAL WHERE STATE = 'STOP_FOLLOW' );

================================================================================

Query 49:

SELECT
*
FROM
TBL_BI_COLLATERAL
WHERE
WHERE
TBL_BI_COLLATERAL.STATE = 'CHANGE'
AND TBL_BI_COLLATERAL.PERIOD_STATUS IN ( 'NEW', 'RENEW' )
AND TBL_BI_COLLATERAL.DATA_STATUS = 'ACTIVE'
AND TBL_BI_COLLATERAL.PERIOD_CONDITION = 'ENOUGH';

================================================================================

Query 50:

SELECT
*
FROM
TBL_PERIOD_EVALUATION
WHERE
TBL_BI_COLLATERAL.COLLATERAL_ID = TBL_PERIOD_EVALUATION.COLLATERAL_ID
AND TBL_PERIOD_EVALUATION.GROUP_CONTRACT_CONDITION IN ( 'REVALUE_COLLATERAL', 'SECUR_PROP_INSURANCE' );

================================================================================

Query 51:

SELECT * FROM tbl_val_collateral_frequency WHERE collateral_type = 	TBL_BI_COLLATERAL.COLL_TYPE
B3 : Lấy điều kiện nghị quyết

================================================================================

Query 52:

SELECT
*
FROM
tbl_contract_condition
WHERE
GROUP_CONTRACT_CONDITION = 'REVALUE_COLLATERAL'
AND (STATUS IS NULL OR STATUS <>'STOP_FOLLOW';

================================================================================

Query 53:

UPDATE TBL_BI_COLLATERAL SET period_status = 'SUCCESS' AND state = 'NOT_CHANGE' AND UPDATE d_user = 'SYSTEM_USER' AND UPDATE _date = SYSDATE;

================================================================================

Query 54:

SELECT
*
FROM
STG_SEAOPS.TBL_BI_CONTRACT_REF_DEFINE
WHERE
DATA_STATUS = 'ACTIVE'
AND (
STATUS IS NULL
OR STATUS NOT IN ( 'OVERDUE_1', 'OVERDUE_2' )
AND CPS_DKSPV = 'N'
AND CREATE_PERIOD_STATUS IN ( 'NEW', 'RENEW' );

================================================================================

Query 55:

SELECT
*
FROM
TBL_LOAN_PRODUCT_CONDITION
WHERE
PRODUCT_TYPE = contract.LOAN_PRODUCT_ID
AND STATUS = 'ACTIVE';

================================================================================

Query 56:

SELECT
*
FROM
TBL_PERIOD_EVALUATION
WHERE
CONTRACT_ID = contract.REF_ID
AND LOAN_PRODUCT_CODE = loanCondition.CODE;

================================================================================

Query 57:

UPDATE dữ liệu bảng hợp đồng vay :
UPDATE STG_SEAOPS.TBL_BI_CONTRACT_REF_DEFINE
SET CPS_DKSPV = 'Y'
AND CREATE_PERIOD_STATUS = 'RENEW'
AND UPDATED_DATE = SYSDATE
AND UPDATED_USER = 'SYSTEM_USER';

================================================================================

Query 58:

UPDATE dữ liệu bảng hợp đồng vay :
UPDATE STG_SEAOPS.TBL_BI_CONTRACT_REF_DEFINE
SET CPS_DKSPV = 'Y'
AND CREATE_PERIOD_STATUS = 'RENEW'

In [29]:
import pandas as pd

# Tạo DataFrame từ danh sách các câu lệnh SQL
df = pd.DataFrame({
    'Query Number': [f"Query {i+1}" for i in range(len(sql_codes))],
    'SQL Query': sql_codes
})

# Ghi DataFrame vào file CSV với encoding utf-8-sig
df.to_csv('sql_queries.csv', index=False, encoding='utf-8-sig')

print("SQL queries have been written to sql_queries.csv using pandas")

SQL queries have been written to sql_queries.csv using pandas

In [15]:
import sqlparse
from sqlparse.sql import IdentifierList, Identifier, Where, Comparison, Parenthesis, Function, Values
from sqlparse.tokens import Keyword, Name, Whitespace, Punctuation

def flatten_tokens(tokens):
    for token in tokens:
        if isinstance(token, (IdentifierList, Where, Parenthesis, Function)):
            for sub_token in flatten_tokens(token.tokens):
                yield sub_token
        elif token.ttype is not None or token.value.strip():
            yield token

def is_parameter(tokens, i):
    if i > 1:  # Ensure there are at least two tokens before current token
        prev_token = tokens[i - 1]
        prev_prev_token = tokens[i - 2]
        # Check if the previous two tokens are ":" and a whitespace
        if (prev_token.ttype == Whitespace and prev_token.value == ' ' and
            prev_prev_token.ttype == Punctuation and prev_prev_token.value == ':'):
            # The current token is considered a parameter
            return True
    return False

def extract_tables_and_columns(sql):
    parsed = sqlparse.parse(sql)
    tables = set()
    columns = set()
    
    # State variables to track the context of the token being processed
    from_seen = False
    join_seen = False
    where_seen = False
    group_by_seen = False
    order_by_seen = False
    insert_into_seen = False
    update_seen = False
    delete_from_seen = False
    set_seen = False

    for stmt in parsed:
        stmt_type = stmt.get_type()
        if stmt_type in {'SELECT', 'INSERT', 'UPDATE', 'DELETE'}:
            # Handle tokens for table and column extraction
            update_seen = (stmt_type == 'UPDATE')
            insert_into_seen = (stmt_type == 'INSERT')
            delete_from_seen = (stmt_type == 'DELETE')

            tokens = list(flatten_tokens(stmt.tokens))

            for i, token in enumerate(tokens):
                print(token, type(token))
                # Check and reset states based on keywords
                if token.ttype is Keyword:
                    token_value = token.value.upper()
                    if token_value == 'FROM':
                        from_seen = True
                        join_seen = False
                        where_seen = False
                        group_by_seen = False
                        order_by_seen = False
                        delete_from_seen = False
                    elif token_value == 'JOIN':
                        join_seen = True
                        from_seen = False
                    elif token_value == 'WHERE':
                        where_seen = True
                        from_seen = False
                        join_seen = False
                    elif token_value == 'GROUP BY':
                        group_by_seen = True
                        from_seen = False
                        join_seen = False
                        where_seen = False
                    elif token_value == 'ORDER BY':
                        order_by_seen = True
                        from_seen = False
                        join_seen = False
                        where_seen = False
                        group_by_seen = False
                    elif token_value == 'INSERT INTO':
                        insert_into_seen = True
                    elif token_value == 'UPDATE':
                        update_seen = True
                    elif token_value == 'DELETE FROM':
                        delete_from_seen = True
                    elif token_value == 'SET':
                        set_seen = True
                        update_seen = False

                # Collecting table names
                if update_seen or delete_from_seen:
                    if isinstance(token, Identifier):
                        tables.add(token.get_real_name())
                    elif isinstance(token, IdentifierList):
                        for identifier in token.get_identifiers():
                            tables.add(identifier.get_real_name())

                if from_seen or join_seen or insert_into_seen:
                    if isinstance(token, Identifier):
                        tables.add(token.get_real_name())
                    elif isinstance(token, IdentifierList):
                        for identifier in token.get_identifiers():
                            tables.add(identifier.get_real_name())

                # Collecting column names
                if where_seen or group_by_seen or order_by_seen or join_seen or set_seen:
                    if isinstance(token, Identifier) and not is_parameter(tokens, i):
                        columns.add(token.get_real_name())
                    elif isinstance(token, IdentifierList):
                        for identifier in token.get_identifiers():
                            columns.add(identifier.get_real_name())
                    elif isinstance(token, Comparison):
                        left, right = token.left, token.right
                        if isinstance(left, Identifier) and not is_parameter(tokens, tokens.index(left)):
                            columns.add(left.get_real_name())
                        if isinstance(right, Identifier) and not is_parameter(tokens, tokens.index(right)):
                            columns.add(right.get_real_name())

                # Collect columns in SELECT and INSERT
                if stmt_type == 'SELECT' and not any([from_seen, join_seen, where_seen, group_by_seen, order_by_seen]):
                    if isinstance(token, Identifier):
                        columns.add(token.get_real_name())
                    elif isinstance(token, IdentifierList):
                        for identifier in token.get_identifiers():
                            columns.add(identifier.get_real_name())
                elif stmt_type == 'INSERT' and insert_into_seen:
                    if isinstance(token, Identifier):
                        columns.add(token.get_real_name())
                    elif isinstance(token, IdentifierList):
                        for identifier in token.get_identifiers():
                            columns.add(identifier.get_real_name())
    
    return tables, columns

# Example usage
sql_query = """
UPDATE 
STG_SEAOPS.TBL_BI_CONTRACT_REF_DEFINE
SET
cps_tsktdk = 'Y' WHERE CUSTOMER_ID = : customerId
AND CO_CODE = : coCode
"""

tables, columns = extract_tables_and_columns(sql_query)
print("Tables:", tables)
print("Columns:", columns)

 <class 'sqlparse.sql.Token'>
UPDATE <class 'sqlparse.sql.Token'>
  <class 'sqlparse.sql.Token'>

 <class 'sqlparse.sql.Token'>
STG_SEAOPS.TBL_BI_CONTRACT_REF_DEFINE <class 'sqlparse.sql.Identifier'>

 <class 'sqlparse.sql.Token'>
SET <class 'sqlparse.sql.Token'>

 <class 'sqlparse.sql.Token'>
cps_tsktdk = 'Y' <class 'sqlparse.sql.Comparison'>

ValueError: <Identifier 'cps_ts...' at 0x26CDF7CD950> is not in list

### Tách bảng và cột từ câu lệnh SQL

In [178]:
import sqlparse
from sqlparse.sql import IdentifierList, Identifier, Where, Comparison, Parenthesis
from sqlparse.tokens import Keyword

def flatten_tokens(tokens):
    for token in tokens:
        if isinstance(token, (IdentifierList, Where, Parenthesis)):
            for sub_token in flatten_tokens(token.tokens):
                yield sub_token
        elif token.ttype is not None or token.value.strip():
            yield token

def extract_tables_and_columns(sql):
    parsed = sqlparse.parse(sql)
    tables = set()
    columns = set()
    
    # State variables to track the context of the token being processed
    from_seen = False
    join_seen = False
    where_seen = False
    group_by_seen = False
    order_by_seen = False

    for stmt in parsed:
        if stmt.get_type() == 'SELECT':
            for token in flatten_tokens(stmt.tokens):
                print(token, type(token))
                # Check and reset states based on keywords
                if token.ttype is Keyword:
                    token_value = token.value.upper()
                    print(token_value)
                    if token_value == 'FROM':
                        from_seen = True
                        join_seen = False
                        where_seen = False
                        group_by_seen = False
                        order_by_seen = False
                    elif token_value == 'JOIN':
                        join_seen = True
                        from_seen = False
                    elif token_value == 'WHERE':
                        where_seen = True
                        from_seen = False
                        join_seen = False
                    elif token_value == 'GROUP BY':
                        group_by_seen = True
                        from_seen = False
                        join_seen = False
                        where_seen = False
                    elif token_value == 'ORDER BY':
                        order_by_seen = True
                        from_seen = False
                        join_seen = False
                        where_seen = False
                        group_by_seen = False

                # Collecting table names
                if from_seen or join_seen:
                    if isinstance(token, Identifier):
                        tables.add(token.get_real_name())
                    elif isinstance(token, IdentifierList):
                        for identifier in token.get_identifiers():
                            tables.add(identifier.get_real_name())

                # Collecting column names
                if where_seen or group_by_seen or order_by_seen or join_seen:
                    if isinstance(token, Identifier):
                        columns.add(token.get_real_name())
                    elif isinstance(token, IdentifierList):
                        for identifier in token.get_identifiers():
                            columns.add(identifier.get_real_name())
                    elif isinstance(token, Comparison):
                        left, right = token.left, token.right
                        if isinstance(left, Identifier):
                            columns.add(left.get_real_name())
                        if isinstance(right, Identifier):
                            columns.add(right.get_real_name())

                # Collect columns in SELECT
                if not any([from_seen, join_seen, where_seen, group_by_seen, order_by_seen]) and isinstance(token, Identifier):
                    columns.add(token.get_real_name())
                elif not any([from_seen, join_seen, where_seen, group_by_seen, order_by_seen]) and isinstance(token, IdentifierList):
                    for identifier in token.get_identifiers():
                        columns.add(identifier.get_real_name())
    
    return tables, columns
sql_query = """
SELECT b,c
FROM a
WHERE b = 'value3';

"""
tables, columns = extract_tables_and_columns(sql_query)
print("Tables:", tables)
print("Columns:", columns)

 <class 'sqlparse.sql.Token'>
SELECT <class 'sqlparse.sql.Token'>
  <class 'sqlparse.sql.Token'>
b <class 'sqlparse.sql.Identifier'>
, <class 'sqlparse.sql.Token'>
c <class 'sqlparse.sql.Identifier'>

 <class 'sqlparse.sql.Token'>
FROM <class 'sqlparse.sql.Token'>
FROM
  <class 'sqlparse.sql.Token'>
a <class 'sqlparse.sql.Identifier'>

 <class 'sqlparse.sql.Token'>
WHERE <class 'sqlparse.sql.Token'>
WHERE
  <class 'sqlparse.sql.Token'>
b = 'value3' <class 'sqlparse.sql.Comparison'>
; <class 'sqlparse.sql.Token'>
Tables: {'a'}
Columns: {'b', 'c'}

In [81]:
# Ví dụ sử dụng
sql_query = """
SELECT LOAN.AC_AR_ID, SUM(TOT_AVL_LMT_AMT) TOT_AVL_LMT_AMT
FROM (SELECT AC_AR.AC_AR_ID
	,nvl(RI_VAL.CLT_VALT - RI_VAL.LMT_CTB, 0) TOT_AVL_LMT_AMT
FROM TWT_FNC_SVC_AR_ANL_FCT_FA_CHG AC_AR
LEFT JOIN AR_X_RI_RLTNP AR_X_RI ON AR_X_RI.AR_ID = AC_AR.AC_AR_ID
	AND AR_X_RI.EFF_DT <= AC_AR.LAST_EFF_DT
	AND AR_X_RI.END_DT > AC_AR.LAST_EFF_DT
	AND AR_X_RI.AR_X_RI_RLTNP_TP_ID = 'B6C71A2D532689A626795C8D4B67A75D' -- LOAN_AR_X_COLATERAL
	AND AR_X_RI.SRC_STM_ID = '0A173E8726B6D97003B5EE634C0CCA92' -- FCC.CLTB_ACC_COLL_LINK_DTLS
LEFT JOIN RI ON AR_X_RI.RI_ID = RI.RI_ID and RI.SRC_STM_ID = 'BB35A878C33FFBF19ADA056E5449DAAF' --FCC.GETM_COLLAT
LEFT JOIN (
	SELECT RI_VAL.RI_ID
		,NVL(MAX(DECODE(CL_CODE, 'CLT_VALT', RI_VAL.VAL_AMT)), 0) CLT_VALT
		,NVL(MAX(DECODE(CL_CODE, 'LMT_CTB', RI_VAL.VAL_AMT)), 0) LMT_CTB
	FROM RI_VAL
	JOIN CV ON RI_VAL.RI_VAL_TP_ID = CV.CL_ID
		AND CV.CL_SCM_CODE = 'RI_VAL_TP'
		AND CV.CL_CODE IN (
			'CLT_VALT'
			,'LMT_CTB'
			)
	WHERE RI_VAL.EFF_DT <= #pDate#
		AND RI_VAL.END_DT > #pDate#
	GROUP BY RI_VAL.RI_ID
	) RI_VAL ON RI_VAL.RI_ID = RI.RI_ID
LEFT JOIN RI_X_UDF_RLTNP RI_X_UDF ON RI_X_UDF.RI_ID = RI.RI_ID
	AND RI_X_UDF.EFF_DT <= #pDate#
	AND RI_X_UDF.END_DT > #pDate#
LEFT JOIN (
	SELECT RI_X_CL.*
		,CV.CL_NM
	FROM RI_X_CL_RLTNP RI_X_CL
	JOIN CV ON RI_X_CL.CL_ID = CV.CL_ID
		AND RI_X_CL.EFF_DT <= #pDate#
		AND RI_X_CL.END_DT > #pDate#
	WHERE RI_X_CL.RI_X_CL_RLTNP_TP_ID = '1AD160750012C416E42B551CC5CA4A5F' -- 'RI_X_COLL_CGY
	) COLL_CGY ON COLL_CGY.RI_ID = RI.RI_ID
LEFT JOIN AR_LC_ST LC_ST ON LC_ST.AR_ID = AR_X_RI.AR_ID
	AND LC_ST.SRC_STM_ID = '85425375A0630AA9C05A16D7D3420345' -- FCC.CLTB_ACCOUNT_APPS_MASTER
	AND LC_ST.AR_LC_ST_SCM_ID = '6B7D2ED561F31655BADF9F232E792DE2' -- TYPE: ACCOUNT_STATUS
	AND LC_ST.EFF_DT <= AC_AR.LAST_EFF_DT
	AND LC_ST.END_DT > AC_AR.LAST_EFF_DT
WHERE RI_X_UDF.UDF_ID = '890E57353540716EA2E539E6A39DBB33' -- GEDCOLLT.TCTD PHAT HANH GTCG
	AND RI_X_UDF.UDF_VAL <> 'KHAC'
	AND RI_LC_ST_TP_ID = '4C32D5E60A5794603A48F0E1AC950315' -- 'RECORD_STAT = O'
	AND LC_ST.AR_LC_ST_TP_ID IN (
		'7D108472968DF6F6A56D5BDFC01488A9'
		,'06CD0B184A47E6CEB56653555A20950F'
		) -- ACCOUNT_STATUS IN ('A', 'H')
	AND COLL_CGY.CL_NM IN (
		'121101'
		,'121102'
		,'121103'
		,'121991'
		,'121992'
		,'121993'
		,'122101'
		,'122102'
		,'122201'
		,'122202'
		,'122203'
		,'123101'
		,'123102'
		,'123201'
		,'123202'
		,'123301'
		,'123302'
		,'124001'
		,'124002'
		,'124003'
		,'125001'
		,'125002'
		,'125003'
		,'126001'
		,'126002'
		,'126003'
		,'129991'
		,'129992'
		,'129993'
		,'170301'
		,'170302'
		)) LOAN
GROUP BY LOAN.AC_AR_ID
"""

### Đưa bảng và cột vào dataframe theo alias

### Xử lý subquery

  table                  column
0  None         EVALUATION_DATE
1  None  AUTO_EVALUATION_RESULT
2  None         STATUS_SUBQUERY
3  None  TBL_CONTRACT_CONDITION
4  None         EVALUATION_DATE
5  None  AUTO_EVALUATION_RESULT
6  None           REGISTER_DATE
7  None           REGISTER_DATE