In [5]:
from docx import Document
import re

def contains_exact_keyword(text, keyword):
    # Sử dụng regex để tìm từ khóa đứng riêng biệt và chính xác về chữ hoa/thường
    pattern = r'\b' + re.escape(keyword) + r'\b'
    return bool(re.search(pattern, text))

def clean_text(text):
    # Loại bỏ phần comment bắt đầu bằng '--' hoặc '//' nhưng giữ lại dấu chấm phẩy ';'
    text = re.split(r'--|//', text)[0].strip()
    
    # Tìm dấu chấm phẩy và chỉ giữ lại phần trước dấu chấm phẩy (bao gồm cả dấu chấm phẩy)
    parts = re.split(r';', text, 1)
    if len(parts) > 1:
        return parts[0] + ';'  # Giữ lại phần trước dấu chấm phẩy và dấu chấm phẩy
    return text  # Nếu không có dấu chấm phẩy, trả về text gốc
    
def remove_text_before_keyword(text, keyword):
    # Sử dụng regex để tách chuỗi tại từ khóa và chỉ giữ lại phần sau từ khóa
    parts = re.split(r'(?i)\b' + re.escape(keyword) + r'\b', text)
    if len(parts) > 1:
        return keyword + parts[-1].strip()  # Thêm lại từ khóa vào phần sau
    return text  # Nếu từ khóa không có trong text thì trả về text gốc

def format_sql(text):
    # Thêm dấu cách giữa từ khóa SQL và phần tiếp theo nếu cần
    keywords_with_space = ['WITH', 'SELECT', 'UPDATE', 'CASE WHEN', 'CASE', 'WHERE', 'UNION ALL', 'JOIN', 'INSERT INTO', 'DELETE FROM']
    for keyword in keywords_with_space:
        text = re.sub(rf'\b{keyword}\s*', f'{keyword} ', text, flags=re.IGNORECASE)
    return text

# Hàm kiểm tra xem dòng có chứa tiếng Việt hay không
def contains_vietnamese(text):
    # Sử dụng regex để tìm các ký tự tiếng Việt
    vietnamese_pattern = re.compile(r'[àáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđÀÁẠẢÃÂẦẤẬẨẪĂẰẮẶẲẴÈÉẸẺẼÊỀẾỆỂỄÌÍỊỈĨÒÓỌỎÕÔỒỐỘỔỖƠỜỚỢỞỠÙÚỤỦŨƯỪỨỰỬỮỲÝỴỶỸĐ]')
    return bool(vietnamese_pattern.search(text))

def extract_sql_code(docx_file):
    doc = Document(docx_file)
    sql_code_blocks = []
    current_block = []
    
    # Danh sách các từ khóa SQL để nhận diện bắt đầu đoạn SQL
    sql_dml_keywords = ('WITH', 'SELECT', 'UPDATE', 'INSERT INTO', 'DELETE FROM')

    # Danh sách các keyword nếu sau nó là một khoảng trắng thì ta sẽ tiếp tục lấy dòng đó
    sql_keywords = ('WITH', 'SELECT', 'UPDATE', 'CASE WHEN', 'CASE', 'WHERE', 'UNION ALL', 'JOIN', 'INSERT INTO', 'DELETE FROM')
    
    paragraphs = doc.paragraphs

    for i, para in enumerate(paragraphs):
        text = para.text.strip()
        text = clean_text(text)  # Loại bỏ phần comment nếu có
        
        # Nếu đoạn văn trống, kết thúc khối SQL hiện tại nếu cần
        if not text or para.style.name.startswith('Heading'):
            # Kiểm tra nếu đoạn trước là từ khóa và đoạn tiếp theo cũng trống thì không kết thúc
            if current_block and not any(kw in current_block[-1].upper() for kw in sql_keywords):
                sql_code_blocks.append("\n".join(current_block))
                current_block = []
            continue
        
        if any(contains_exact_keyword(text, kw) for kw in sql_dml_keywords):
            # Nếu text chứa từ khóa SQL, xóa phần đứng trước từ khóa
            for keyword in sql_dml_keywords:
                if contains_exact_keyword(text, keyword):
                    text = remove_text_before_keyword(text, keyword)
                    text = format_sql(text)
                    break
                    
            # Kiểm tra tiếng Việt sau khi đã xử lý văn bản
            if contains_vietnamese(text):
                current_block = []  # Bỏ qua khối hiện tại nếu chứa tiếng Việt
                continue
            
            current_block.append(text)
        
        # Tiếp tục thêm vào block hiện tại nếu đang trong khối SQL
        elif current_block:
            current_block.append(text)

        # Nếu đoạn văn kết thúc bằng dấu chấm phẩy, thì xem như khối SQL đã hoàn tất
        if text.endswith(';'):
        #if ';' in text:
            sql_code_blocks.append("\n".join(current_block))
            current_block = []
            continue
                
    # Trường hợp cuối cùng còn block chưa kết thúc
    if current_block:
        sql_code_blocks.append("\n".join(current_block))

    # Lọc bỏ các câu lệnh SQL trống hoặc chỉ chứa khoảng trắng
    sql_code_blocks = [sql for sql in sql_code_blocks if sql and sql.strip()]

    return sql_code_blocks

# Đọc file Word và trích xuất SQL code
sql_codes = extract_sql_code('JOB nghiệp vụ 2.11.docx')

for i, sql in enumerate(sql_codes):
    print(f"Query {i}:\n")
    print(sql)
    print("\n" + "="*80 + "\n")

Query 0:

WITH slipMarkData AS (
SELECT
sm.MARK_USER mark_user,
sm.COMPANY_ACCOUNTING co_code,
AD_UNIT.UNIT_NAME unit_name,
TO_CHAR( sm.MARK_DATE, 'DD-MM-YYYY' ) mark_date,
1 number_slip
FROM
TBL_SLIP_MARK sm
JOIN AD_UNIT ON sm.COMPANY_ACCOUNTING = AD_UNIT.UNIT_CODE
WHERE
TRUNC( sm.MARK_DATE ) = TRUNC( SYSDATE - INTERVAL '1' DAY )
AND sm.MARK_USER IS NOT NULL
AND sm.SLIP_FROM = 'BI'
),
slipMarkNonAccData AS (
SELECT
sm.MARK_USER mark_user,
sm.CO_CODE co_code,
AD_UNIT.UNIT_NAME unit_name,
TO_CHAR( sm.MARK_DATE, 'DD-MM-YYYY' ) mark_date,
1 number_slip
FROM
STG_SEAOPS.TBL_SLIP_MARK_TRANS_NON_ACC sm
JOIN AD_UNIT ON sm.CO_CODE = AD_UNIT.UNIT_CODE
WHERE
TRUNC( sm.MARK_DATE ) = TRUNC( SYSDATE - INTERVAL '1' DAY )
AND sm.MARK_USER IS NOT NULL
),
slipMarkNonTransRefData AS (
SELECT
sm.MARK_USER mark_user,
sm.CO_CODE co_code,
AD_UNIT.UNIT_NAME unit_name,
TO_CHAR( sm.CREATED_DATE, 'DD-MM-YYYY' ) mark_date,
sm.TOTAL number_slip
FROM
TBL_SLIP_MARK_NON_TRANS_REF sm
JOIN AD_UNIT ON sm.CO_CODE = AD_UNIT.UNIT_CODE
WHERE
TRUNC( sm.CREATED_DATE ) = TRUNC( SYSDATE - INTERVAL '1' DAY )
AND sm.MARK_USER IS NOT NULL
),
SELECT * FROM slipMarkNonTransRefData ),
group_datas AS (
SELECT
mark_user,
co_code AS unit_code,
unit_name,
mark_date,
sum( number_slip ) total_trans_ref
FROM
union_datas ud
GROUP BY
mark_user,
co_code,
mark_date,
unit_name
ORDER BY
mark_user
SELECT
( gds.mark_user || unit_code || mark_date ) AS COMPOSE_KEY,
gds.*
FROM
group_datas gds

================================================================================

Query 1:

SELECT
*
FROM
TBL_PERIOD_EVALUATION pe
JOIN TBL_CONTRACT_CONDITION cc ON cc.id = pe.CONTRACT_CONDITION_ID
WHERE pe.EVALUATION_DATE IS NOT NULL
AND pe.AUTO_EVALUATION_RESULT IS NULL
AND pe.GROUP_CONTRACT_CONDITION = 'CREDIT_RELATION'
AND  cc.STATUS = 'APPROVED'
AND ( (pe.REGISTER_DATE IS NOT NULL AND TRUNC(pe.REGISTER_DATE) < TRUNC (sysdate)) OR (pe.REGISTER_DATE IS NULL AND TRUNC(pe.EVALUATION_DATE) < TRUNC (sysdate)) );

================================================================================

Query 2:

SELECT
*
FROM
TBL_PERIOD_EVALUATION pe
JOIN TBL_PERIOD_EVALUATION pe1 ON pe.CONTRACT_CONDITION_ID = pe1.CONTRACT_CONDITION_ID AND pe.PERIOD - 1 = pe1.PERIOD
WHERE AND pe.FREQUENCY = 1 AND pe.FREQUENCY_UNIT = 'M' AND pe.CONTRACT_CONDITION_ID = :contractConditionId;

================================================================================

Query 3:

SELECT *  TBL_CONDITION_CREDIT_RELATION cr WHERE cr.CONDITION_ID = :contractConditionId;

================================================================================

Query 4:

SELECT
*
FROM
TBL_PERIOD_EVALUATION pe
JOIN TBL_CONTRACT_CONDITION cc ON cc.ID = pe.CONTRACT_CONDITION_ID
WHERE
pe.EVALUATION_DATE IS NOT NULL
AND pe.AUTO_EVALUATION_RESULT IS NULL
AND pe.GROUP_CONTRACT_CONDITION = 'REVENUE'
AND cc.STATUS = 'APPROVED'
AND (
( pe.REGISTER_DATE IS NOT NULL AND TRUNC( pe.REGISTER_DATE ) < TRUNC( sysdate ) )
OR ( pe.REGISTER_DATE IS NULL AND TRUNC( pe.EVALUATION_DATE ) < TRUNC( sysdate ) )
);

================================================================================

Query 5:

SELECT
SUM( DISTINCT LOC_AMT )
FROM
STG_SEAOPS.TBL_BI_DISBURSEMENT_SALES
WHERE
CONTRACT_REF =: contract_ref
AND TRANS_TYPE IN ( '08', '09', '12' )
AND ( TO_DATE( VALUE_DATE, 'DD-MM-YYYY' ) BETWEEN : from_date AND : to_date )
GROUP BY
CONTRACT,
DAYID,
TRANS_TYPE;

================================================================================

Query 6:

SELECT
SUM( DISTINCT LOC_AMT )
FROM
STG_SEAOPS.TBL_BI_DISBURSEMENT_SALES
WHERE
CONTRACT_REF =: contract_ref
AND TRANS_TYPE IN ( '01', '02', '03' )
AND ( TO_DATE( VALUE_DATE, 'DD-MM-YYYY' ) BETWEEN : from_date AND : to_date )
GROUP BY
CONTRACT,
DAYID,
TRANS_TYPE;

================================================================================

Query 7:

SELECT
SUM( LC_AMOUNT_LCY )
FROM
TBL_BI_LC_RELEASE_SALES
WHERE
( TO_DATE( ISSUE_DATE, 'DD-MM-YYYY' ) BETWEEN : from_date AND : to_date )
AND CUSTOMER = : customerId
GROUP BY
CUSTOMER;

================================================================================

Query 8:

SELECT
SUM( AMOUNT )
FROM
TBL_BI_GUARANTEE_SALES
WHERE
( TO_DATE( PAST_SCHED_DATE, 'DD-MM-YYYY' ) BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId
GROUP BY
CUSTOMER_ID;

================================================================================

Query 9:

SELECT
SUM( AMOUNT )
FROM
TBL_BI_GUARANTEE_SALES
WHERE
( TO_DATE( PAST_SCHED_DATE, 'DD-MM-YYYY' ) BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId  AND CATEGORY = '28030'
GROUP BY
CUSTOMER_ID;

================================================================================

Query 10:

SELECT
SUM( AMOUNT )
FROM
TBL_BI_GUARANTEE_SALES
WHERE
( TO_DATE( PAST_SCHED_DATE, 'DD-MM-YYYY' ) BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId   AND CATEGORY = '28010'
GROUP BY
CUSTOMER_ID;

================================================================================

Query 11:

SELECT
SUM( AMOUNT )
FROM
TBL_BI_GUARANTEE_SALES
WHERE
( TO_DATE( PAST_SCHED_DATE, 'DD-MM-YYYY' ) BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId   AND CATEGORY = '28009'
GROUP BY
CUSTOMER_ID;

================================================================================

Query 12:

SELECT
SUM( AMOUNT )
FROM
TBL_BI_GUARANTEE_SALES
WHERE
( TO_DATE( PAST_SCHED_DATE, 'DD-MM-YYYY' ) BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId  AND CATEGORY = '28040'
GROUP BY
CUSTOMER_ID;

================================================================================

Query 13:

SELECT
SUM( AMOUNT )
FROM
TBL_BI_GUARANTEE_SALES
WHERE
( TO_DATE( PAST_SCHED_DATE, 'DD-MM-YYYY' ) BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId AND CATEGORY = '28042'
GROUP BY
CUSTOMER_ID;

================================================================================

Query 14:

SELECT
SUM( CAST( DEBT AS DECIMAL ) )
FROM
TBL_BI_CONTRACT_DEBT
WHERE
DAYID = : to_date
AND CUSTOMER_ID = : customerId
GROUP BY
CUSTOMER_ID;

================================================================================

Query 15:

SELECT
SUM( DISTINCT CAST( AMOUNT_LCY AS DECIMAL ) )
FROM
TBL_BI_CREDIT_SALES
WHERE
( DAYID BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId
GROUP BY
CUSTOMER_ID,OUT_REFERENCE;

================================================================================

Query 16:

SELECT
SUM( DISTINCT CAST( AMOUNT_LCY AS DECIMAL ) )
FROM
TBL_BI_CREDIT_SALES
WHERE
( DAYID BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId  AND OUT_REFERENCE like 'FT%'
GROUP BY
CUSTOMER_ID,OUT_REFERENCE;

================================================================================

Query 17:

SELECT
SUM( DISTINCT CAST( AMOUNT_LCY AS DECIMAL ) )
FROM
TBL_BI_CREDIT_SALES
WHERE
( DAYID BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId  AND OUT_REFERENCE like 'TT%'
GROUP BY
CUSTOMER_ID,OUT_REFERENCE;

================================================================================

Query 18:

SELECT
SUM( DISTINCT CAST( AMOUNT_LCY AS DECIMAL ) )
FROM
TBL_BI_CREDIT_SALES
WHERE
( DAYID BETWEEN : from_date AND : to_date )
AND CUSTOMER_ID = : customerId  AND OUT_REFERENCE like 'TF%'
GROUP BY
CUSTOMER_ID,OUT_REFERENCE;

================================================================================

Query 19:

SELECT
SUM( BALANCE )
FROM
TBL_BI_DISBURSEMENT_HISTORY
WHERE
CONTRACT_REF = : contractId
GROUP BY
CONTRACT_REF;

================================================================================

Query 20:

SELECT
TOI_VALUE
FROM
TBL_CONFIG_INPUT_TOI
WHERE
CONTRACT_ID = : contractId
AND CUSTOMER_ID = : customerId
AND PERIOD = : period;

================================================================================

Query 21:

SELECT
ID,
AUTO_PERIOD,
BUSINESS_UNIT_NOTE,
CONTENT,
CONTRACT_ID,
CONTROL_METHOD,
CREATED_DATE,
CREATED_USER,
DESCRIPTION,
DOCUMENT_NAME,
FIRST_DATE_CHOSEN_PERIOD,
FREQUENCY,
FREQUENCY_UNIT,
NEW_CUSTOMER,
RULE_MATCH,
RULE_NUMBER,
SANCTION,
SANCTION_TYPE,
STATUS,
TOI,
TOI_MATCH,
TOI_VALUE,
TYPE_PERIOD_RATE,
UPDATED_DATE,
UPDATED_USER,
START_PERIOD,
GROUP_CONTRACT_CONDITION,
REASON,
MIN_APPROVAL_VALUE,
IS_MIN_APPROVAL_VALUE,
LOAN_PRODUCT_ID,
CUSTOMER_ID,
CLONE_ID,
AUTO_EVALUATION_RESULT,
CUSTOMER_CLASS,
CO_CODE,
COMPANY_NAME_VN,
VERSION_CONFIG_ID,
ORIGIN_ID
FROM
TBL_REVENUE_CONDITION
WHERE
ID = : contractConditionId;

================================================================================

Query 22:

SELECT
ID,
ADVANCE,
APPROVAL_RATE,
CONTRACT,
CREATED_DATE,
CREATED_USER,
CREDIT_REVENUE,
DEBT_REVENUE,
DISBURMENT_REVENUE,
FT_ENTRY,
GUARANTEE_REVENUE,
LC_REVENUE,
LOAN,
MONEY_ON_DOCUMENT,
ORIGINAL_INTEREST_REVENUE,
OTHER_NUMBER,
PAYMENT,
RECIPROCAL,
REVENUE_CONDITION_ID,
RULE_NUMBER,
TF_ENTRY,
TT_ENTRY,
UPDATED_DATE,
UPDATED_USER,
DISBURSEMENT_MONEY,
DOCUMENT_ADDITIONAL,
AUTO_EVALUATION_RESULT,
VERSION_CONFIG_ID
FROM
TBL_REVENUE_CONFIGURATION
WHERE
REVENUE_CONDITION_ID = : contractConditionId;

================================================================================

Query 23:

SELECT
ID,
ADVANCE,
APPROVAL_RATE,
CONTRACT,
CREATED_DATE,
CREATED_USER,
CREDIT_REVENUE,
DEBT_REVENUE,
DISBURMENT_REVENUE,
FT_ENTRY,
GUARANTEE_REVENUE,
LC_REVENUE,
LOAN,
MONEY_ON_DOCUMENT,
ORIGINAL_INTEREST_REVENUE,
OTHER_NUMBER,
PAYMENT,
RECIPROCAL,
REVENUE_CONDITION_ID,
RULE_NUMBER,
TF_ENTRY,
TT_ENTRY,
UPDATED_DATE,
UPDATED_USER,
DISBURSEMENT_MONEY,
DOCUMENT_ADDITIONAL,
AUTO_EVALUATION_RESULT,
VERSION_CONFIG_ID
FROM
TBL_REVENUE_CONFIGURATION
WHERE
REVENUE_CONDITION_ID = : contractConditionId;

================================================================================

Query 24:

SELECT
TBL_REVENUE_PERIOD_RATE.PERIOD,
TBL_REVENUE_PERIOD_RATE.RATE,
TBL_REVENUE_PERIOD_RATE.TYPE
FROM
TBL_REVENUE_PERIOD_RATE
WHERE
( PERIOD =: period AND TYPE =: typePeriodRate )

================================================================================

Query 25:

SELECT MAX( PERIOD ) AS PERIOD, TYPE FROM TBL_REVENUE_PERIOD_RATE GROUP BY TYPE );

================================================================================

Query 26:

SELECT
TBL_REVENUE_PERIOD_RATE.PERIOD,
TBL_REVENUE_PERIOD_RATE.RATE,
TBL_REVENUE_PERIOD_RATE.TYPE
FROM
TBL_REVENUE_PERIOD_RATE
JOIN max_period ON max_period.PERIOD = TBL_REVENUE_PERIOD_RATE.PERIOD
AND max_period.TYPE = TBL_REVENUE_PERIOD_RATE.TYPE
WHERE
TBL_REVENUE_PERIOD_RATE.TYPE =: typePeriodRate;

================================================================================

Query 27:

SELECT CONTRACT_AMT FROM TBL_BI_CONTRACT_REF_DEFINE WHERE CONTRACT_ID = :contractId;

================================================================================

Query 28:

UPDATE TBL_PERIOD_EVALUATION
SET auto_evaluation_result =
CASE
WHEN evaluation_result IS NULL THEN
'NOT_FOLLOW' ELSE 'FOLLOW'
END,
evaluation_result =
CASE
WHEN evaluation_result IS NULL THEN
'NOT_FOLLOW' ELSE evaluation_result
END;

================================================================================

Query 29:

UPDATE TBL_PERIOD_EVALUATION
SET auto_evaluation_result =
:autoEvaluationResult,
evaluation_result =
CASE
WHEN evaluation_result IS NULL THEN
:autoEvaluationResult  ELSE evaluation_result
END;

================================================================================

Query 30:

UPDATE tbl_revenue_condition
SET auto_evaluation_result =
: autoEvaluationResult;

================================================================================

Query 31:

SELECT
*
FROM
TBL_PERIOD_EVALUATION pe
LEFT JOIN TBL_CONTRACT_CONDITION cc ON cc.id = pe.CONTRACT_CONDITION_ID
LEFT JOIN TBL_LOAN_PRODUCT_CONDITION lc ON lc.id = pe.CONTRACT_CONDITION_ID
WHERE
pe.EVALUATION_DATE IS NOT NULL
AND ( pe.AUTO_EVALUATION_RESULT IS NULL OR ( pe.AUTO_EVALUATION_RESULT = 'FOLLOW' AND pe.GROUP_CONTRACT_CONDITION = 'SECUR_PROP_INSURANCE' ) )
AND pe.EVALUATION_RESULT IS NULL
AND pe.GROUP_CONTRACT_CONDITION NOT IN ( 'CROSS_SELLING', 'CREDIT_RELATION', 'REVENUE' ) ( pe.STATUS IS NULL OR pe.STATUS <> 'APPROVED' )
AND (
pe.CONTRACT_CONDITION_ID IS NULL
OR ( pe.GROUP_CONTRACT_CONDITION <> 'LOAN_PRODUCT_CONDITION' AND cc.STATUS = 'APPROVED' )
OR ( pe.GROUP_CONTRACT_CONDITION = 'LOAN_PRODUCT_CONDITION' AND lc.STATUS = 'ACTIVE' )
)
AND (
( pe.REGISTER_DATE IS NOT NULL AND TRUNC( pe.REGISTER_DATE ) < TRUNC( SYSDATE ) )
OR ( pe.REGISTER_DATE IS NULL AND TRUNC( pe.EVALUATION_DATE ) < TRUNC( SYSDATE ) )
);

================================================================================

Query 32:

UPDATE TBL_PERIOD_EVALUATION
SET AUTO_EVALUATION_RESULT = 'NOT_FOLLOW',
EVALUATION_RESULT= 'NOT_FOLLOW',
report_note =
CASE
WHEN 'STOP_CHECK_REPORT' = report_batch_id THEN
report_note ELSE NULL
END,
report_batch_id =
CASE
WHEN report_batch_id IS NOT NULL
AND 'STOP_CHECK_REPORT' <> report_batch_id THEN
'RE_CHECK'
WHEN 'STOP_CHECK_REPORT' = report_batch_id THEN
report_batch_id ELSE NULL END;

================================================================================

Query 33:

UPDATE TBL_PERIOD_EVALUATION
SET AUTO_EVALUATION_RESULT = 'NOT_FOLLOW',
EVALUATION_RESULT= 'NOT_FOLLOW';

================================================================================

Query 34:

SELECT
*
FROM
TBL_PERIOD_EVALUATION pe
JOIN TBL_CONTRACT_CONDITION cc ON cc.id = pe.CONTRACT_CONDITION_ID
WHERE
pe.EVALUATION_DATE IS NOT NULL
AND pe.AUTO_EVALUATION_RESULT IS NULL OR pe.AUTO_EVALUATION_RESULT = 'NOT_ENOUGH_EVALUATION_DATA'
AND pe.GROUP_CONTRACT_CONDITION = 'CROSS_SELLING'
AND ( pe.STATUS IS NULL OR.STATUS = 'APPROVED' )
AND (
( pe.REGISTER_DATE IS NOT NULL AND TRUNC( pe.REGISTER_DATE ) < TRUNC( SYSDATE ) )
OR ( pe.REGISTER_DATE IS NULL AND TRUNC( pe.EVALUATION_DATE ) < TRUNC( SYSDATE ) )
);

================================================================================

Query 35:

SELECT * FROM TBL_CROSS_SELLING WHERE CONDITION_ID = :conditionId;

================================================================================

Query 36:

UPDATE TBL_PERIOD_EVALUATION SET AUTO_EVALUATION_RESULT = 'NOT_ENOUGH_EVALUATION_DATA' WHERE id = :id;

================================================================================

Query 37:

UPDATE TBL_PERIOD_EVALUATION
SET auto_evaluation_result =
:autoEvaluationResult,
evaluation_result =
CASE
WHEN evaluation_result IS NULL THEN
:autoEvaluationResult  ELSE evaluation_result
END;

================================================================================

Query 38:

SELECT
*
FROM
TBL_PERIOD_EVALUATION
WHERE
PERIOD <> 0
AND GROUP_CONTRACT_CONDITION NOT IN ( 'REVALUE_COLLATERAL', 'SECUR_PROP_INSURANCE' )
AND ( CONTRACT_STATUS IS NULL OR CONTRACT_STATUS NOT IN ( 'OVERDUE_1', 'OVERDUE_2' ) )
AND ( CONTRACT_CONDITION_STATUS IS NULL OR CONTRACT_CONDITION_STATUS <> 'STOP_FOLLOW' )
AND LOCKED_KEY IS NULL
AND CREATE_NEXT_PERIOD_STATUS IN ( 'NEW', 'RENEW' )
AND ( FORCE_CREATE_NEXT = 1 OR CAST( EVALUATION_DATE AS DATE ) < CAST( SYSDATE ) );

================================================================================

Query 39:

SELECT * FROM TBL_PERIODIC_TEST_FREQUENCY WHERE CUSTOMER_TYPE = NVL(SUBSTR(PERIODIC_TYPE, 0, INSTR(PERIODIC_TYPE, '#')-1), PERIODIC_TYPE)= CUSTOMER_TYPE;

================================================================================

Query 40:

SELECT * FROM TBL_LOAN_PRODUCT_CONDITION WHERE CODE = LOAN_PRODUCT_CODE;

================================================================================

Query 41:

UPDATE TBL_PERIOD_EVALUATION
SET STATUS = 'STOP_FOLLOW',
REPORT_NOTE = 'Ngừng theo dõi TSBD'
WHERE
GROUP_CONTRACT_CONDITION IN ( 'REVALUE_COLLATERAL', 'SECUR_PROP_INSURANCE' )
SELECT DISTINCT COLLATERAL_ID FROM TBL_BI_COLLATERAL WHERE STATE = 'STOP_FOLLOW' );

================================================================================

Query 42:

SELECT
*
FROM
TBL_BI_COLLATERAL
WHERE
WHERE
TBL_BI_COLLATERAL.STATE = 'CHANGE'
AND TBL_BI_COLLATERAL.PERIOD_STATUS IN ( 'NEW', 'RENEW' )
AND TBL_BI_COLLATERAL.DATA_STATUS = 'ACTIVE'
AND TBL_BI_COLLATERAL.PERIOD_CONDITION = 'ENOUGH';

================================================================================

Query 43:

SELECT
*
FROM
TBL_PERIOD_EVALUATION
WHERE
TBL_BI_COLLATERAL.COLLATERAL_ID = TBL_PERIOD_EVALUATION.COLLATERAL_ID
AND TBL_PERIOD_EVALUATION.GROUP_CONTRACT_CONDITION IN ( 'REVALUE_COLLATERAL', 'SECUR_PROP_INSURANCE' );

================================================================================

Query 44:

SELECT * FROM tbl_val_collateral_frequency WHERE collateral_type = TBL_BI_COLLATERAL.COLL_TYPE;

================================================================================

Query 45:

SELECT
*
FROM
tbl_contract_condition
WHERE
GROUP_CONTRACT_CONDITION = 'REVALUE_COLLATERAL'
AND (STATUS IS NULL OR STATUS <>'STOP_FOLLOW';

================================================================================

Query 46:

UPDATE TBL_BI_COLLATERAL SET period_status = 'SUCCESS' AND state = 'NOT_CHANGE' AND UPDATE d_user = 'SYSTEM_USER' AND UPDATE _date = SYSDATE;

================================================================================

Query 47:

SELECT
*
FROM
STG_SEAOPS.TBL_BI_CONTRACT_REF_DEFINE
WHERE
DATA_STATUS = 'ACTIVE'
AND (
STATUS IS NULL
OR STATUS NOT IN ( 'OVERDUE_1', 'OVERDUE_2' )
AND CPS_DKSPV = 'N'
AND CREATE_PERIOD_STATUS IN ( 'NEW', 'RENEW' );

================================================================================

Query 48:

SELECT
*
FROM
TBL_LOAN_PRODUCT_CONDITION
WHERE
PRODUCT_TYPE = contract.LOAN_PRODUCT_ID
AND STATUS = 'ACTIVE';

================================================================================

Query 49:

SELECT
*
FROM
TBL_PERIOD_EVALUATION
WHERE
CONTRACT_ID = contract.REF_ID
AND LOAN_PRODUCT_CODE = loanCondition.CODE;

================================================================================

Query 50:

UPDATE STG_SEAOPS.TBL_BI_CONTRACT_REF_DEFINE
SET CPS_DKSPV = 'Y'
AND CREATE_PERIOD_STATUS = 'RENEW'
AND UPDATED_DATE = SYSDATE
AND UPDATED_USER = 'SYSTEM_USER';

================================================================================

Query 51:

UPDATE STG_SEAOPS.TBL_BI_CONTRACT_REF_DEFINE
SET CPS_DKSPV = 'Y'
AND CREATE_PERIOD_STATUS = 'RENEW'
AND UPDATED_DATE = SYSDATE
AND UPDATED_USER = 'SYSTEM_USER';

================================================================================

Query 52:

SELECT
*
FROM
STG_SEAOPS.TBL_BI_DISBURSEMENT_HISTORY
JOIN STG_SEAOPS.TBL_BI_CONTRACT_REF_DEFINE ON STG_SEAOPS.TBL_BI_CONTRACT_REF_DEFINE.REF_ID = STG_SEAOPS.TBL_BI_DISBURSEMENT_HISTORY.CONTRACT_REF
WHERE
DATA_STATUS = 'ACTIVE'
and CREATE_PERIOD_STATUS in ('NEW', 'RENEW')

================================================================================

Query 53:

SELECT
DH.CONTRACT_REF ref_id, DH.LOAN_CODE loan_code, CRD.VALUE_DATE_MIN value_date_min_ref, DH.VALUE_DATE value_date, DH.PRODUCT_CODE 	product_code, DH. MATURITY_DATE maturity_date
FROM
TBL_BI_DISBURSEMENT_HISTORY DH
JOIN TBL_BI_CONTRACT_REF_DEFINE CRD
ON CRD.REF_ID = DH.CONTRACT_REF
WHERE
DH.DATA_STATUS = 'ACTIVE'
and DH.CREATE_PERIOD_STATUS in (‘NEW’,’RENEW’)
UNION ALL
SELECT
DH.CONTRACT_REF ref_id, dh.contract_md loan_code, CRD.VALUE_DATE_MIN value_date_min_ref, dh.past_sched_date value_date, DH.PRODUCT_CODE      product_code, DH. MATURITY_DATE maturity_date
FROM
TBL_BI_GUARANTEE_SALES DH
JOIN TBL_BI_CONTRACT_REF_DEFINE CRD
ON CRD.REF_ID = DH.CONTRACT_REF
WHERE
DH.DATA_STATUS = 'ACTIVE'
and DH.CREATE_PERIOD_STATUS in (‘NEW’,’RENEW’)
UNION ALL
SELECT
DH.CONTRACT_REF ref_id, dh.contract_id loan_code, CRD.VALUE_DATE_MIN value_date_min_ref, dh.issue_date value_date, DH.PRODUCT_CODE      product_code, DH. MATURITY_DATE maturity_date
FROM
TBL_BI_LC_RELEASE_SALES DH
JOIN TBL_BI_CONTRACT_REF_DEFINE_BIPLUS CRD
ON CRD.REF_ID = DH.CONTRACT_REF
WHERE
DH.DATA_STATUS = 'ACTIVE'
and DH.CREATE_PERIOD_STATUS in (‘NEW’,’RENEW’);

================================================================================

Query 54:

SELECT
*
FROM

In [6]:
import pandas as pd

data = []

for i, sql in enumerate(sql_codes):
    query_name = f"Query {i+1}"
    data.append([query_name, sql])

# Chuyển đổi danh sách thành DataFrame
df = pd.DataFrame(data, columns=["Query", "SQL Code"])

# Xuất DataFrame ra file Excel
df.to_excel("docx_queries.xlsx", index=False)

print("Đã xuất file Excel thành công!")

Đã xuất file Excel thành công!